@import "variables";
@import "mixin";

.container_1300 {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1100;
  background-color: $white-clr;
  //   background-color: $base-color;

  //   @include breakpoint(large) {
  //     & {
  //      background:#000;
  //     }
  //   }

  .logo {
    align-self: flex-start;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: #333;
    align-self: flex-end;
  }

  li {
    float: left;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: #404041;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
  }

  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: #f4f7fb;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown_content a:hover {
    background-color: #f4f7fb;
  }

  .dropdown:hover .dropdown_content {
    display: block;
  }
}
