$container_width:1300px;
$base-color: #6785C1;

$white-clr:#fff;
$black-clr:#000;
$grey-clr:#404041;
$bluish-grey:#6785C1;

$fs-56:56px;
$fs-48:48px;
$fs-24:24px;
$fs-18:18px;
$fs-14:14px;

$fw-thin:300;
$fw-regular:400;
$fw-semi-bold:500;
$fw-bold:700;
$fw-black:900;